<form action="/posts/:id" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Update your post...</label>
  <br>
  <textarea name="content" rows="10" cols="50" maxlength="150" value=""><br>
  <br>
  <input type="submit" value="Update">
</form>
