<h1>Profile Page</h1>

<% if @pageuser.id == @user.id%>
  <a href="/edit">Edit</a>
<% end %>

  <p><%= @user.username %></p>

<a href="/logout">log out</a>

<button type="button" name="button"><a href="/feed">Feed</a></button>
