<h1>Profile Page</h1>

Your user id is: <%= current_user.id %>


<% if @pageuser.id == current_user.id %>
  <a href="/edit">Edit</a>
<% end %>

<a href="/logout">log out</a>

<button type="button" name="button"><a href="/feed">Feed</a></button>
